<footer class="bg-white">
  <div class="container flex items-center mx-auto">
    <div class="w-1/2 p-2">
      <h5 class="font-sans text-xs md:text-xl font-medium text-gray-800">
        Contamos con vos.<br />
        Contá con Carrefour.
      </h5>
    </div>
    <div class="w-1/2 p-2">
      <img src="../../img/logo_carrefour_hipermercado_horizontal.png" class="float-right"
        alt="Logo Carrefour Horizontal" />
    </div>
  </div>
</footer>