<header class="bg-white pb-2">
  <a href="./">
    <img src="{{htmlWebpackPlugin.options.logo}}" class="mx-auto h-10 md:h-16 md:w-auto mt-2"
      alt="{{htmlWebpackPlugin.options.altText}}" />
  </a>

  <h1 class="font-sans text-sm md:text-xl font-medium text-gray-800 text-center">
    Conoc&eacute; el horario de nuestras sucursales
  </h1>

  <nav class="md:my-2 hidden md:block">
    <div class="flex justify-center">
      <a href="./">
        <img src="../../img/logo_carrefour_hipermercado_horizontal.png"
          class="md:h-10 mr-2 border border-gray-500 opacity-75 hover:opacity-100 cursor-pointer rounded shadow"
          alt="Carrefour Hipermercados">
      </a>
      <a href="./market.html">
        <img src="../../img/logo_carrefour_market_horizontal.png"
          class="md:h-10 mr-2 border border-gray-500 opacity-75 hover:opacity-100 cursor-pointer rounded shadow"
          alt="Carrefour Market">
      </a>
      <a href="./express.html">
        <img src="../../img/logo_carrefour_express_horizontal.png"
          class="md:h-10 mr-2 border border-gray-500 opacity-75 hover:opacity-100 cursor-pointer rounded shadow"
          alt="Carrefour Express">
      </a>
      <a href="./maxi.html">
        <img src="../../img/logo_carrefour_maxi_horizontal.png"
          class="md:h-10 mr-2 border border-gray-500 opacity-75 hover:opacity-100 cursor-pointer rounded shadow"
          alt="Carrefour Maxi">
      </a>
    </div>
  </nav>

  <div class="inline-block md:hidden flex justify-center">

    <div class=" dropdown inline-block">
      <button
        class="bg-gray-300 text-gray-700 font-sans text-sm font-semibold py-2 px-4 rounded inline-flex items-center">
        <span class="mr-1">Eleg&iacute; tu sucursal</span>
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
      </button>
      <ul class="dropdown-menu hidden text-gray-700 pt-1">
        <li class="border-b-2 border-dashed border-gray-300">
          <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-1 block whitespace-no-wrap" href="./">
            <img src="../../img/logo_carrefour_hipermercado_horizontal.png" class="h-10 mx-auto cursor-pointer"
              alt="Carrefour Hipermercados">
          </a>
        </li>
        <li class="border-b-2 border-dashed border-gray-300">
          <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-1 block whitespace-no-wrap" href="./market.html">
            <img src="../../img/logo_carrefour_market_horizontal.png" class="h-10 mx-auto cursor-pointer"
              alt="Carrefour Market">
          </a>
        </li>
        <li class="border-b-2 border-dashed border-gray-300">
          <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-1 block whitespace-no-wrap" href="./express.html">
            <img src="../../img/logo_carrefour_express_horizontal.png" class="h-10 mx-auto cursor-pointer"
              alt="Carrefour Express">
          </a>
        </li>
        <li class="">
          <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-1 block whitespace-no-wrap" href="./maxi.html">
            <img src="../../img/logo_carrefour_maxi_horizontal.png" class="h-10 mx-auto cursor-pointer"
              alt="Carrefour Maxi">
          </a>
        </li>
      </ul>
    </div>

  </div>

</header>